.bar4 {
  
   
    width: 25%;
     position: sticky;
     height: auto;
     padding: 1rem 1rem;
     z-index: 1;
     background-color: rgb(255,255,255);
     /* border: 1px solid blue; */
     padding-bottom: 10rem;
   }
   .bar4-box{
    display: flex;
    background-color:#EDEEF1;
    padding: .5rem;
    margin-bottom: 1rem;

    
   }
   
   .bar4 button{
   width: 100%;
   padding: .25rem;
   border: none;
   background-color:#EDEEF1;
   font-weight: 400;
   font-size: 15px;
   margin-bottom: .20rem;
   }
   .bar4-box img{
   width: 25px;
   height: 100%;
   }
   .bar4 section{
     display: flex;
     flex-direction: column;
     padding-left: .5rem;
   }
   .bar4 section h2{
    font-weight: 400;
    font-size: 10px;
   }
   .bar4 section h1{
    font-weight: 600;
    font-size: 12px;
   }
   .summaryBox{
    display: flex;
    

    margin: 1rem;
    flex-direction: column;
   }
   .summaryBox h2{
    font-size: 13px;
    font-weight: 600;
    margin: .20rem 0 .10rem 0;
   }
   .summaryBox .main{
    background-color:#EDEEF1;
 font-size: 13px;
 margin-bottom: .5rem;
 margin-top: .40rem;

   }
   .summaryBox .summary-boxes{
    padding: .25rem;
    display: flex;
    justify-content: space-between;
   font-size: 13px;
   }
   .total{
    background-color: #F7F8FB;
    padding: .5rem;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    font-weight: 400;
   }
   .total span{
    padding-top: .5rem;
    font-weight: 700;
   }
   .discountBox{
    color: #52924C;
    margin-bottom: 0.25rem;

   }
   .discountBox .discount1{
    display: flex;
    
    padding: .5rem;
    justify-content: space-evenly;
   }
   .discountBox section img{
    width: 40%;
   }
   
   
   .discountBox p{
    font-weight: 500;
   }

   
  
@media (max-width: 360px) { 
  /* styles for smaller phones */
  
}

@media (max-width: 576px) { 
  /* styles for extra small devices */
  .bar4{
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 767px) { 
  /* styles for small devices */
  .bar4{
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) { 
  /* styles for medium devices */
  .bar4{
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) { 
  /* styles for large devices */
  .bar4 {
    width: 25%;
   }
   .bar4-box{
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
    
   }
   .summaryBox{
    display: flex;
    

    margin: .25rem;
    flex-direction: column;
   }
   .summaryBox  .main h4{
word-wrap: break-word;
font-size: 7px;
   }
   .total{
    padding: .5rem .15rem;
    font-size: 9px;
    width: 100%;
   }
   .total span{
    padding-top: 0rem;
    font-weight: 700;
   }
   .discountBox span, p{
   margin:auto 0;

   }
  
}
@media (min-width: 1200px) { 
  /* styles for extra large devices */
  .total span{
    padding-top: 0rem;
    font-weight: 700;
   }
}
@media (min-width: 1600px) { 
  /* styles for ultra-wide screens */
  
}





