.productPage {
    display: flex;
   padding: 1.5rem 0rem 0rem 1rem;
   width: 100%;
     /* border: 1px solid red; */
     height: auto;
     /* margin-top: 2rem; */
     background-color: #F3F4F9;
  }
  
  .productSection1 {
    display: flex;
    padding-right: 1rem;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid rgb(55, 0, 255); */
  }
  
  .product-wrapper {
    flex-grow: 1;
    justify-content: space-between;
    overflow-y: auto; /* Makes this area specifically scrollable */
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid yellow; */
  }
  

  
@media (max-width: 360px) { 
  /* styles for smaller phones */
  
}

@media (max-width: 576px) { 
  /* styles for extra small devices */
  .product-wrapper {
    display: flex;
    justify-content: space-evenly;
    overflow-y: auto; /* Makes this area specifically scrollable */
    
  
    /* border: 1px solid yellow; */
  }
}
@media (min-width: 577px) and (max-width: 767px) { 
  /* styles for small devices */
  .product-wrapper {
    display: flex;
    justify-content: space-evenly;
    overflow-y: auto; /* Makes this area specifically scrollable */
    
  
    /* border: 1px solid yellow; */
  }
}
@media (min-width: 768px) and (max-width: 991px) { 
  /* styles for medium devices */
  .product-wrapper {
    display: flex;
    justify-content: space-evenly;
    overflow-y: auto; /* Makes this area specifically scrollable */
    
  
    /* border: 1px solid yellow; */
  }
}
@media (min-width: 992px) and (max-width: 1199px) { 
  /* styles for large devices */
  .product-wrapper {
    display: flex;
    justify-content: space-evenly;
    overflow-y: auto; /* Makes this area specifically scrollable */
    
  
    /* border: 1px solid yellow; */
  }
}
@media (min-width: 1200px) { 
  /* styles for extra large devices */
  .product-wrapper {
    display: flex;
    justify-content: space-evenly;
    overflow-y: auto; /* Makes this area specifically scrollable */
    
  
    /* border: 1px solid yellow; */
  }
}
@media (min-width: 1600px) { 
  /* styles for ultra-wide screens */
  
}






  
  